* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("my-pictures/flower-pic.jpg");
    background-size: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h1,
h2,
h3 {
    margin: 30px;
    text-align: center;
    font-family: "Franklin Gothic Book", sans-serif;
    color: white;
    text-shadow: 3px 1px 3px #121212;
}

a {
    text-decoration: none;
    color: lightpink;
}

a:hover {
    color: hotpink;
}

a:visited {
    color: pink;
}

a:hover:visited {
    color: deeppink;
}

main {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    border-radius: 15px;
}

section {
    margin: 0 auto;
    overflow: scroll;
    height: 700px;
    min-height: 100%;
}

section::-webkit-scrollbar {
    display: none;
}

#left {
    float: left;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 0;
}

#right {
    width: 50%;
}

div {
    margin-bottom: -10px;
    width: 100%;
    height: 1000px;
    text-align: center;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

img:hover {
    transform: scale(1.01);
}

img:active {
    position: absolute;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 20px 20px 30px #121212;
}

#left img:active {
    top: 5%;
    left: 31%;
    height: 90%;
}

#right img:active {
    top: 5%;
    right: 31%;
    height: 90%;
}

h1:hover,
h2:hover,
h3:hover {
    font-weight: normal;
    transform: scale(1.1);
    letter-spacing: 0.5px;
}

